.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
}

.dialog{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.dialog a{
    color: white;
    text-decoration: none
}

.dialog a.activeLink{
    color: gold;
}

.dialogsItems .active{
    color:gold;
}

.messages{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
}

.messagesMe{
    align-self: flex-end;
    margin-right: 450px;
}

.messagesAnother{
    align-self: flex-start;
    margin-left: 50px;
}

.messagesAvatar {
    width: 30px;
    margin: 5px;
    border-radius: 100px;
    align-self: center;
}

.friendImg{
    width: 30px;
    margin: 5px;
    border-radius: 100px;
    align-self: center;
}